*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.btn {
    text-decoration: none;
    border: none;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.glass-morphism {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
}

/**** OAuth ****/

.oauth {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    align-items: center;
}

.oauth__header {
    margin: 2rem 0;
}

.oauth__logo {
    margin: 2rem auto 0;
    border-radius: 1rem;
}

.oauth__greeting--title {
    font-size: 2.5rem;
    font-weight: 500;
}

.oauth__greeting--sub-title {
    font-size: 1rem;
    color: #c2c2c2;
}

/**** Home ****/

.home {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.profile__img {
    border-radius: 50%;
}

.profile__text--lrg {
    font-size: 2rem;
}

/**** Error ****/

.error {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error__text {
    color: red;
}