.btn {
    text-decoration: none;
    border: none;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.glass-morphism {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
}
