.speech-recognition-button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    border-radius: 2em;
    padding: 0.3rem 0.5rem;
    border: 2px solid #ff003b;
    color: #ff003b;
}

.speech-recognition-button__tooltip {
    color: white;
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.50);
    font-size: 0.75rem;
    padding: 0.5em;
    top: -5rem;
    z-index: 999;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.speech-recognition-button:hover .speech-recognition-button__tooltip {
    cursor: pointer;
    visibility: visible;
}

.speech-recognition-button__strip {
    height: 0.5rem;
    width: 0.1rem;
    background-color: #ff003b;
    animation: 2s pulse infinite;
}

@keyframes pulse {
    0% {
        height: 0;
    }
    10% {
        height: 20%;
    }
    20% {
        height: 40%;
    }
    30% {
        height: 60%;
    }
    40% {
        height: 80%;
    }
    50% {
        height: 100%;
    }
    60% {
        height: 80%;
    }
    70% {
        height: 60%;
    }
    80% {
        height: 40%;
    }
    90% {
        height: 20%;
    }
    100% {
        height: 0;
    }
}